choice
	prompt "device tree select for X2000 X2100 boards"
	depends on SOC_X2000 || SOC_X2100

config DT_X2000_MODULE_BASE
       bool "x2000 module base"

config DT_HALLEY5_V30
       bool "x2000 halley5_v30"

config DT_CREALITY_K1
       bool "x2000 Creality K1"

config DT_ZEBRA
       bool "x2000 zebra"

config DT_KALE_V10
       bool "x2100 kale_v10"
endchoice

config DT_X2000_MODULE_BASE_DTS_FILE
	string "dts file for X2000 module driver"
	depends on DT_X2000_MODULE_BASE
	default "x2000_module_base.dts"
	help
		the dts file location is arch/mips/boot/dts/ingenic/
