/dts-v1/;

#include <dt-bindings/input/input.h>
#include "x2600.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <generated/autoconf.h>

/ {
	compatible = "ingenic,x2600-halley7";
	chosen {
		/*bootargs = "console=ttyS0,115200 mem=128M@0x0 ip=off init=/linuxrc ubi.mtd=2 root=ubi0:rootfs ubi.mtd=3 rootfstype=ubifs rw flashtype=nand";*/
		/*bootargs = "console=ttyS0,115200 mem=128M@0x0 ip=off init=/linuxrc rootfstype=jffs2 root=/dev/mtdblock2 rw flashtype=nor";*/
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges =<>;

		/*dynamic fixup according to ddr size.*/
		reserved_memory: reserved_mem {
		      compatible = "shared-dma-pool";
		      reg-64M  = <0x03000000 0xf00000>;
		      reg-128M = <0x06000000 0x1f00000>;
		      reg-256M = <0x0e000000 0x1f00000>;
		};

		riscv_mcu_ram: riscv_mcu_ram {
			 compatible = "shared-dma-pool";
			 reg-64M = <0x03F00000 0x50000>;
			 reg-128M = <0x07F00000 0x50000>;
			 reg-256M = <0x0FF00000 0x50000>;

		 };

		vdev0buffer: vdev0buffer {
			 compatible = "shared-dma-pool";
			 reg-64M = <0x03F50000 0x8000>;
			 reg-128M = <0x07F50000 0x8000>;
			 reg-256M = <0x0FF50000 0x8000>;
		};
		vdev0vring0: vdev0vring0@12400000{
		    	compatible = "shared-dma-pool";
			reg = <0x12400000 0x1000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@12401000{
		    	compatible = "shared-dma-pool";
			reg = <0x12401000 0x1000>;
			no-map;
		};
	};
};

&riscv {
	status = "okay";
	memory-region=<&vdev0buffer &vdev0vring0 &vdev0vring1>;
	mcu-ram = <&riscv_mcu_ram>;
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe>;
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pb>;
};

&otg {
	dr_mode = "otg"; // host,peripheral,otg
	device-using-dma = <1>;
	status = "okay";
};

&usb {
	device-using-dma = <1>;
	status = "okay";
};

&otg_phy {
	status = "okay";
	ingenic,drvvbus-gpio = <&gpe 18 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
	ingenic,vbus-dete-gpio = <&gpe 20 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
};

&usb_phy {
	status = "okay";
};

&i2c1 {
    clock-frequency = <100000>;
    pinctrl-0 = <&i2c1_pc>;
    timeout = <1000>;
    pinctrl-names = "default";
    status = "okay";

    rtc_pcf8563:rtc_pcf8563@51{
                compatible = "nxp,pcf8563";
                reg = <0x51>;
                status = "okay";
    };
};

&msc0 {
	status = "okay";
	pinctrl-names ="default";
	pinctrl-0 = <&msc0_8bit_low>,<&msc0_8bit_high>;
	mmc-hs200-1_8v;
	non-removable;
	max-frequency = <100000000>;
	bus-width = <8>;
	voltage-ranges = <1800 3300>;

	ingenic,rst-gpios = <0>;

};

&msc1 {
	status = "okay";
	/*mmc-hs200-1_8v;*/
	pinctrl-names ="default";
	pinctrl-0 = <&msc1_4bit1>;

	cap-mmc-highspeed;
	max-frequency = <50000000>;
	bus-width = <4>;
	voltage-ranges = <1800 3300>;
	non-removable;

	ingenic,sdio_clk = <1>;
	keep-power-in-suspend;
	ingenic,removal-manual;

#ifndef CONFIG_RTL8723DS
	bcmdhd_wlan: bcmdhd_wlan {
		 compatible = "android,bcmdhd_wlan";
		 gpio_wl_reg_on = <&gpd 13 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
		 gpio_wl_host_wake = <&gpd 12 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
    };
#else
    rtl8723ds: rtl8723ds {
        compatible = "rtk,rtl8723ds_wlan";
		 ingenic,sdio-irq = <&gpd 12 IRQ_TYPE_LEVEL_HIGH INGENIC_GPIO_NOBIAS>;
		 ingenic,sdio-reset = <&gpd 13 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
    };
#endif
};

&mac0 {
	pinctrl-names = "default", "reset";
	pinctrl-0 = <&mac0_rmii_p0_normal>, <&mac0_rmii_p1_normal>,<&mac0_phy_clk>;
	pinctrl-1 = <&mac0_rmii_p0_rst>, <&mac0_rmii_p1_normal>, <&mac0_phy_clk>;
	status = "okay";
	ingenic,rst-gpio = <&gpc 13 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
	ingenic,rst-ms = <10>;
	ingenic,mac-mode = <RMII>;
	ingenic,mode-reg = <0xb00000e4>;
	ingenic,phy-clk-freq = <50000000>;
};


&sfc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sfc_pd1>;
	ingenic,sfc-max-frequency = <200000000>;
	ingenic,sfc-init-frequency= <40000000>;
	ingenic,use_ofpart_info  = /bits/ 8 <0>;
	ingenic,spiflash_param_offset = <0>;

	nandflash@1 {
		partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		/* spi nand flash partition */
		partition@0 {
			label = "uboot";
			reg = <0x0000000 0x100000>;
		/*read-only;*/
		};
		partition@100000 {
			label = "kernel";
			reg = <0x100000 0x800000>;
		};
		partition@900000 {
			label = "rootfs";
			reg = <0x900000 0xf700000>;
		};
		};
	};

};

&aic {
	status = "okay";
};

&dmic {
	status = "disable";
	pinctrl-names = "default";
	pinctrl-0 = <&dmic_pc_4ch>;
};

&spi0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pb>;
	spi-max-frequency = <54000000>;
	num-cs = <2>;
	/* cs-gpios = <0>, <0>; */
	/* cs-gpios = <&gpb 17 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>, <&gpb 16 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>; */
	ingenic,chnl = <0>;
	ingenic,allow_cs_same = <1>;
	ingenic,bus_num = <0>;
	ingenic,has_dma_support = <0>;
	ingenic,spi-src-clk = <1>;/*0.ext; 1.ssi*/

	/* Add SPI interface device */
	spidev: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&spi_slv0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi_slv_pb>;
	ingenic,has_dma_support = <0>;
};

&efuse {
	status = "disabled";
};

&dtrng {
	status = "okay";
};

&tcu0 {
	status = "disable";
};

&tcu1 {
	status = "disable";
};

// pcm的复用引脚为pc00 - pc03，在使用时注意引脚复用不要冲突，尤其是i2c0_pc和i2c1_pc
&pcm {
	status = "disable";
	ingenic,pcm-master-mode = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcm_pc>;
};

/ {

	extclk: extclk {
		clock-frequency = <24000000>;
	};

	gpio_keys: gpio_keys {
		   compatible = "gpio-keys";

		   bootsel1 {
			   label = "bootsel1";
			   linux,code = <KEY_BACK>;
			   gpios = <&gpd 15 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
			   gpio-key,wakeup;
		   };
	};

	wl_vccio: wl-regulator {
		  compatible = "regulator-fixed";
		  regulator-name = "wl_vccio";
		  gpio = <&gpe 0 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
		  enable-active-high;
	};

	wlreg_on: wlreg-on {
		  compatible = "regulator-fixed";
		  regulator-name = "wlreg_on";
		  gpio = <&gpc 6 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		  enable-active-low;
	};

	/*
	 * gpd 14 bt wakeup host
	 * gpd 13 host wakeup bt
	 */
	bt_power {
		compatible = "ingenic,bt_power";
		ingenic,reg-on-gpio = <&gpd 16 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
		ingenic,wake-gpio = <&gpd 14 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
		status = "okay";
	};

	watchdog {
		compatible = "sgm820-wdt";
		ingenic,sgm820-wdi = <&gpc 12 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		status = "okay";
	};

	dump_pcm_codec:dump_pcm_codec{
		compatible = "ingenic,pcm-dump-codec";
		status = "okay";
	};

	sound_x2600e_cdc {
		status = "okay";
		compatible = "ingenic,x2660-halley-sound";
		ingenic,model = "x2660";
		ingenic,dai-link = "pcm", "i2s-icodec", "dmic", "i2s-tloop";
		ingenic,stream = "pcm", "i2s-icodec", "dmic", "i2s-tloop";
		ingenic,cpu-dai = <&pcm>, <&i2s>, <&dmic>, <&i2s_tloop>;
		ingenic,platform = <&pcm>, <&aic>, <&dmic>, <&i2s_tloop>;
		ingenic,codec =  <&dump_pcm_codec>, <&icodec>, <&dmic>, <&dump_pcm_codec>;
		ingenic,codec-dai = "pcm-dump", "icodec", "dmic-dump-codec", "pcm-dump";
		ingenic,audio-routing = "Speaker", "HPOUTL", "DACL", "MICBIAS" ,
			"ADCL",  "MICL",
			"ADCR",  "MICR";
		ingenic,spken-gpio = <&gpe 17 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
	};

	spi_gpio {
		status = "disabled";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		/*ranges;*/
		gpio-sck = <&gpe 12 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		gpio-miso = <&gpe 13 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		gpio-mosi = <&gpe 14 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		cs-gpios = <&gpe 15 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		num-chipselects = <1>;
		/* clients */
		spidev1: spidev1@0 {
			compatible = "rohm,dh2228fv";
			reg = <0>;
			spi-max-frequency = <500000>;
		};
	};
};


&icodec {
	status = "okay";
	/**
	 * level1 : 1.6 * AVDD / 2
	 * level2 : 1.65 * AVDD / 2
	 * level3 : 1.7 * AVDD / 2
	 * level4 : 1.75 * AVDD / 2
	 * level5 : 1.8 * AVDD / 2
	 * level6 : 1.85 * AVDD / 2
	 * level7 : 1.9 * AVDD / 2
	 * level8 : 1.95 * AVDD / 2
	 */
	ingenic,micbias_level = <2>;
    dac2adc_enable = <0>;
};

&jpegd {
	status = "okay";
	memory-region=<&reserved_memory>;
};

&jpege {
	status = "okay";
	memory-region=<&reserved_memory>;
};

&felix {
	status = "okay";
	memory-region=<&reserved_memory>;
};

&rotate {
	status = "okay";
};

&pdma {
	status = "okay";
};

&pdma1 {
	status = "okay";
};

&sadc {
	status = "disable";
	pinctrl-names = "default";
	pinctrl-0 = <&aux_all_pe>;
	seq1 = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15>;
	/* seq1的连续转换间隔时间 单位 ms*/
	seq1-cont-interval = <10>;
	ingenic,has_dma_support = <0>;

};


&pinctrl {
    ingenic,gpe_msc_voltage = <GPIO_VOLTAGE_1V8>;
};


#ifdef CONFIG_STAGE_FW050
#include "x2600e_halley_lcd/X2600E_HALLEY_MIPI_LCD_FW050.dtsi"
#endif
#ifdef CONFIG_STAGE_KD055FHFID018B
#include "x2600e_halley_lcd/X2600E_HALLEY_MIPI_LCD_KD055FHFID018B.dtsi"
#endif
#ifdef CONFIG_STAGE_HC050IG40031
#include "x2600e_halley_lcd/X2600E_HALLEY_RGB_LCD_HC050IG.dtsi"
#endif

#ifdef CONFIG_STAGE_ZC50289HSHD02
#include "x2600e_halley_lcd/X2600E_HALLEY_MIPI_LCD_ZC50289HSHD02.dtsi"
#endif

#ifdef CONFIG_RD_X2600_DVP_CAMERA
#include "halley7_cameras/RD_X2600_HALLEY7_GC0308_V1.0.dtsi"
#endif

